pkgbase = lnd-bin
	pkgdesc = Lightning Network Daemon ⚡
	pkgver = 0.14.3_beta
	pkgrel = 1
	url = https://github.com/lightningnetwork/lnd
	install = lnd.install
	arch = x86_64
	license = MIT
	provides = lnd
	provides = lncli
	conflicts = lnd
	conflicts = lnd-git
	backup = etc/lnd/lnd.conf
	source = https://github.com/lightningnetwork/lnd/releases/download/v0.14.3-beta/lnd-linux-amd64-v0.14.3-beta.tar.gz
	source = lnd-LICENSE-v0.14.3-beta::https://raw.githubusercontent.com/lightningnetwork/lnd/v0.14.3-beta/LICENSE
	source = lnd.user
	source = lnd.conf
	source = lnd@.service
	sha512sums = 1091860d9713f49f81ad88c07586c8441e5b4119a9e0ca183374f5a265faa2d26520687a0c98e1ad98cb8462cd54e76b8bbe537d9635953b5b33fb47a8da0dd0
	sha512sums = 9837c5d097a2838cf6dc992cc25b9e94946e401131e13e66a699077c3e2de1b89fb1de71027d46d7230464ebbad3ae8df118d459961b28995677d56fded451ca
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = lnd-bin
